AulaSWClienteSwing/xml-resources/web-service-references/aulaservicio/wsdl/localhost_8080/aulaservicio/aulaservicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aulaservicio.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://aulaservicio.me.org/" name="aulaservicio">
<types>
<xsd:schema>
<xsd:import namespace="http://aulaservicio.me.org/" schemaLocation="http://localhost:8080/aulaservicio/aulaservicio?xsd=1"/>
</xsd:schema>
</types>
<message name="registrar">
<part name="parameters" element="tns:registrar"/>
</message>
<message name="registrarResponse">
<part name="parameters" element="tns:registrarResponse"/>
</message>
<message name="indetificar">
<part name="parameters" element="tns:indetificar"/>
</message>
<message name="indetificarResponse">
<part name="parameters" element="tns:indetificarResponse"/>
</message>
<message name="salir">
<part name="parameters" element="tns:salir"/>
</message>
<message name="salirResponse">
<part name="parameters" element="tns:salirResponse"/>
</message>
<message name="usuario">
<part name="parameters" element="tns:usuario"/>
</message>
<message name="usuarioResponse">
<part name="parameters" element="tns:usuarioResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="estadisticas">
<part name="parameters" element="tns:estadisticas"/>
</message>
<message name="estadisticasResponse">
<part name="parameters" element="tns:estadisticasResponse"/>
</message>
<message name="tarjeta">
<part name="parameters" element="tns:tarjeta"/>
</message>
<message name="tarjetaResponse">
<part name="parameters" element="tns:tarjetaResponse"/>
</message>
<message name="firmar">
<part name="parameters" element="tns:firmar"/>
</message>
<message name="firmarResponse">
<part name="parameters" element="tns:firmarResponse"/>
</message>
<message name="validar">
<part name="parameters" element="tns:validar"/>
</message>
<message name="validarResponse">
<part name="parameters" element="tns:validarResponse"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<portType name="aulaservicio">
<operation name="registrar">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/registrarRequest" message="tns:registrar"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/registrarResponse" message="tns:registrarResponse"/>
</operation>
<operation name="indetificar">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/indetificarRequest" message="tns:indetificar"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/indetificarResponse" message="tns:indetificarResponse"/>
</operation>
<operation name="salir">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/salirRequest" message="tns:salir"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/salirResponse" message="tns:salirResponse"/>
</operation>
<operation name="usuario">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/usuarioRequest" message="tns:usuario"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/usuarioResponse" message="tns:usuarioResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/listarRequest" message="tns:listar"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="estadisticas">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/estadisticasRequest" message="tns:estadisticas"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/estadisticasResponse" message="tns:estadisticasResponse"/>
</operation>
<operation name="tarjeta">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/tarjetaRequest" message="tns:tarjeta"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/tarjetaResponse" message="tns:tarjetaResponse"/>
</operation>
<operation name="firmar">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/firmarRequest" message="tns:firmar"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/firmarResponse" message="tns:firmarResponse"/>
</operation>
<operation name="validar">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/validarRequest" message="tns:validar"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/validarResponse" message="tns:validarResponse"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/insertarResponse" message="tns:insertarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://aulaservicio.me.org/aulaservicio/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://aulaservicio.me.org/aulaservicio/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
</portType>
<binding name="aulaservicioPortBinding" type="tns:aulaservicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="indetificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="estadisticas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="aulaservicio">
<port name="aulaservicioPort" binding="tns:aulaservicioPortBinding">
<soap:address location="http://localhost:8080/aulaservicio/aulaservicio"/>
</port>
</service>
</definitions>